<div class="well">
	<fieldset>
			
			<legend>Login</legend>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.label :email %>
			  <%= f.email_field :email, :autofocus => true %>
			  <div><%= f.label :password %>
			  <%= f.password_field :password %>
			<% end %>
			<label class="checkbox">
				<input type="checkbox">Remember me
			</label>
			<div class="pull-right">
				<input type="submit" class="btn btn-primary" value="login">
				<a class="btn btn-info" href="#register" role="button" data-toggle="modal">register</a>
			</div>

		</fieldset>
		<p style="text-align:center">____OR____</p>
		<p>Sign in with:</p>
		<a href="#" onclick="GR_Facebook.loginAndRedirect(); return false; "><img alt="Connect your Facebook account" src="assets/button_facebook-3a7b74d704205be9cac5a3c59d06dee0.png" title="Connect your Facebook account" /></a>
		<a href="#" onclick="GR_Twitter.askToConnect(); return false;"><img alt="Sign in with Twitter" src="assets/button_twitter-4b3dc65449d12c332b6d817f9bb8364a.png" title="Sign in with your Twitter account" /></a>
		<a href="/user/google_sign_in"><img alt="Sign in with Google" src="assets/button_google-766f9175b047c8af47eabb022fb15f5b.png" title="Sign in with your Google account" /></a>

</div>