<h1>User Profile Page</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p><b>This should be replaced with the profile page later!!</b></p>

<h3>Profile</h3>
<p><b>Name: </b><%= @user.name%></p>
<p><b>Email: </b><%= @user.email%></p>
