<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
		<!--%= render 'layouts/messages' %-->
      </header>
      <div id="main" role="main">
        <%= yield %>
	    <%= render 'layouts/footer' %>
      </div>
    </div> <!--! end of #container -->
  </body>
</html>
