<!DOCTYPE html>
<html lang="en">

    <div class="container"> 

	    <div class="row" id="main-content">

		    <div class="span8">
			    <div id="slider" class="carousel slide">
				    <div class="carousel-inner">
					    <div class="item active">
						    <img src="http://placehold.it/850x500">
						    <div class="carousel-caption">
							    <h4>Headline for Image 1</h4>
							    <p>Description of image 1</p>
						    </div>
					    </div>
					    <div class="item">
						    <img src="http://placehold.it/850x500">
						    <div class="carousel-caption">
							    <h4>Headline for Image 2</h4>
							    <p>Description of image 2</p>
						    </div>
					    </div>
					    <div class="item">
						    <img src="http://placehold.it/850x500">
						    <div class="carousel-caption">
							    <h4>Headline for Image 3</h4>
							    <p>Description of image 3</p>
						    </div>
					    </div>
				    </div>
				    <a class="left carousel-control" href="#slider" data-slide="prev">&lsaquo;</a>
				    <a class="right carousel-control" href="#slider" data-slide="prev">&rsaquo;</a>
			    </div>
		    </div>
        
		    <div class="span4"> 
				<% if user_signed_in? %>
                  <li>
                    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
				  </li>
				<% else %>
                  <li>
				    <%= render 'users/sign_in' %>
                  </li>
                <% end %>
			</div>

		    <footer class="row"></footer>
 
	    </div> <!end of container> 
    </div>

    <div id="register" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">

	    <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>
			    <h3 id=modamlabel">Register</h3>

	    </div>

	    <div class="modal-body">
		    <form>

			    <p class="label label-info">Required</p>

			    <div class="controls controls-group info">
				    <input type="text" class="span4" placeholder="username" id="inputinfo">
				    <input type="text" class="span4" placeholder="email" id="inputinfo">
				    <input type="text" class="span4" placeholder="password" id="inputinfo">
			    </div>

			    <p class="help-block">I will be posting as:</p>     

			<label class="checkbox inline">
			  <input type="checkbox">T
		        </label>

			<label class="checkbox inline">
			  <input type="checkbox">S
		        </label>

			<label class="checkbox inline">
			  <input type="checkbox">Both
		        </label>

		    </form>

	    </div>

	    <div class="modal-footer">
		    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">cancel</button>
		    <button class="btn btn-success">register</button>

	    </div>

    </div>    

    <!--script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
	    $("#tip").tooltip();
    </script-->

  </body>
</html>