<% provide(:title, 'Home') %>
   <div class="container"> 

   <div class="row" id="main-content">

   <div class="span8">
   <div id="slider" class="carousel slide">
   <div class="carousel-inner">
   <div class="item active">
     <img src="http://placehold.it/850x500">
     <div class="carousel-caption">
           <h4>Headline for Image 1</h4>
           <p>Description of image 1</p>
     </div>
   </div>
   <div class="item">
   <img src="http://placehold.it/850x500">
   <div class="carousel-caption">
   <h4>Headline for Image 2</h4>
   <p>Description of image 2</p>
   </div>
   </div>
   <div class="item">
   <img src="http://placehold.it/850x500">
   <div class="carousel-caption">
   <h4>Headline for Image 3</h4>
   <p>Description of image 3</p>
   </div>
   </div>
   </div>
   <a class="left carousel-control" href="#slider" data-slide="prev">&lsaquo;</a>
   <a class="right carousel-control" href="#slider" data-slide="prev">&rsaquo;</a>
   </div>
   </div>

   <div class="span4">
   <div class="well">
   <form>
   <fieldset>
   <legend>Login</legend>
   <input type="text" class="input-block-level" placeholder="username">
   <input type="text" class="input-block-level" placeholder="password">
   <label class="checkbox">
   <input type="checkbox">Remember me
   </label>
   <div class="pull-right">
   <input type="submit" class="btn btn-primary" value="login">

   <!--%= link_to "Register", new_user_registration_path, class:"btn btn-info", "data-toggle"=>"modal" %-->
</div>

   </fieldset>
   <p style="text-align:center">____OR____</p>
   <p>Sign in with:</p>
   <a href="#" onclick="GR_Facebook.loginAndRedirect(); return false; "><img alt="Connect your Facebook account" src="../../assets/images/button_facebook.png" title="Connect your Facebook account" /></a>
   <a href="#" onclick="GR_Twitter.askToConnect(); return false;"><img alt="Sign in with Twitter" src="../../assets/images/button_twitter.png" title="Sign in with your Twitter account" /></a>
   <a href="/user/google_sign_in"><img alt="Sign in with Google" src="../../assets/images/button_google.png" title="Sign in with your Google account" /></a>

   </form>
   </div>

   </div>

   <footer class="row"></footer>

   </div> <!end of container>
    </div>

    <div id="register" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">

   <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>
   <h3 id=modamlabel">Register</h3>

   </div>

   <div class="modal-body">
   <form>

   <p class="label label-info">Required</p>

   <div class="controls controls-group info">
   <input type="text" class="span4" placeholder="username" id="inputinfo">
   <input type="text" class="span4" placeholder="email" id="inputinfo">
   <input type="text" class="span4" placeholder="password" id="inputinfo">
   </div>

   <p class="help-block">I will be posting as:</p>

<label class="checkbox inline">
 <input type="checkbox">T
       </label>

<label class="checkbox inline">
 <input type="checkbox">S
       </label>

<label class="checkbox inline">
 <input type="checkbox">Both
       </label>

   </form>

   </div>

   <div class="modal-footer">
   <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">cancel</button>
   <button class="btn btn-success">register</button>

   </div>

    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="app/assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
   $("#tip").tooltip();
    </script>

  </body>
</html>

